* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.viewport {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  min-width: 500px;
  width: 75%;
  border-radius: 5px;
  height: 220px;
}

.top-title {
  background: #f1f1f1;
  padding: 15px;
}

.card-body {
  padding: 15px;
}

.list-group-item {
  list-style: none;
  line-height: 55px;
  border-top: 1px solid rgb(231, 231, 231);
  padding-left: 15px;
}
