* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

nav,
footer {
  background: #333;
  text-align: center;
  color: #fff;
  height: 5vh;
  line-height: 46px;
}

.content {
  height: 90vh;
  position: relative;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
